.idea/.idea.IdentityServerTest/.idea/contentModel.xml
*.dll
ApiOne/obj/Debug/netcoreapp3.1/ApiOne.csprojAssemblyReference.cache
WebClient/obj/Debug/netcoreapp3.1/WebClient.csprojAssemblyReference.cache
*.pdb
*.dll
*.pdb
